body{
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  background-image: url('fondo.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;

}
.datos{
  text-align: right;
}
.datos button {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white; /* Texto en blanco */
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(5px);
}

.datos button:hover {
    background: rgba(255, 255, 255, 0.4);
    transform:scale(1.1);
}
.encabezado{
  text-align: center;
  margin: 20px;
  padding: 20px;
  padding-bottom: 0px;
  
}
.encabezado p{
  text-align: justify;
}
.parrafo_uno{
  font-size: 35px;
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 50px;
  padding-top: 0px;
}
.parrafo_uno img{
  border-radius: 50px;
}
h1{
  transition: all 0.2s ease-in-out;
}
h1:hover{
  transform:scale(1.05);
}
p{
  transition: all 0.2s ease-in-out;
}
p:hover{
  transform:scale(1.05);
}
img{
  transition: all 0.2s ease-in-out;
}
img:hover{
  transform:scale(1.05);
}
.parrafo_dos{
  font-size: 35px;
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 0px;
}
.parrafo_dos img{
  border-radius: 50px;
}
.parrafo_tres{
  font-size: 35px;
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 0px;
}
.parrafo_tres img{
  border-radius: 50px;
}
.parrafo_cuatro{
  font-size: 35px;
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 0px;
}
.parrafo_cuatro img{
  border-radius: 50px;
}